[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitchio = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
requests = "*"
replace = "*"
boto = "*"
asyncio = "*"
boto3 = "*"

[requires]
python_version = "3.7"
